<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Harshitha</string>
		<key>fees</key>
		<string>Rs 600 ~ Consultation fees</string>
		<key>address</key>
		<string>Kormangala 5 block, Dental Clinic</string>
		<key>designation</key>
		<string>Dental Care</string>
		<key>yrs</key>
		<string>10</string>
		<key>image</key>
		<string>Harshitha</string>
		<key>appmtBooked</key>
		<false/>
	</dict>
	<dict>
		<key>yrs</key>
		<string>14</string>
		<key>designation</key>
		<string>Dental Care</string>
		<key>address</key>
		<string>Kormangala 5 block, Dental Clinic</string>
		<key>image</key>
		<string>Jaya</string>
		<key>name</key>
		<string>Jaya</string>
		<key>fees</key>
		<string>Rs 650 ~ Consultation fees</string>
        <key>appmtBooked</key>
        <false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Yashaswini</string>
		<key>fees</key>
		<string>Rs 700 ~ Consultation fees</string>
		<key>address</key>
		<string>Kormangala 5 block, Dental Clinic</string>
		<key>designation</key>
		<string>Dental Care</string>
		<key>yrs</key>
		<string>6</string>
		<key>image</key>
		<string>Yashaswini</string>
        <key>appmtBooked</key>
        <false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Yashaswini</string>
		<key>fees</key>
		<string>Rs 700 ~ Consultation fees</string>
		<key>address</key>
		<string>Kormangala 5 block, Dental Clinic</string>
		<key>designation</key>
		<string>Dental Care</string>
		<key>yrs</key>
		<string>6</string>
		<key>image</key>
		<string>Yashaswini</string>
        <key>appmtBooked</key>
        <false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Vidya</string>
		<key>fees</key>
		<string>Rs 750 ~ Consultation fees</string>
		<key>address</key>
		<string>Kormangala 5 block, Dental Clinic</string>
		<key>designation</key>
		<string>Dental Care</string>
		<key>yrs</key>
		<string>6</string>
		<key>image</key>
		<string>Vidya</string>
        <key>appmtBooked</key>
        <false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Kshema</string>
		<key>fees</key>
		<string>Rs 800 ~ Consultation fees</string>
		<key>address</key>
		<string>Kormangala 5 block, Dental Clinic</string>
		<key>designation</key>
		<string>Dental Care</string>
		<key>yrs</key>
		<string>7</string>
		<key>image</key>
		<string>Kshema</string>
        <key>appmtBooked</key>
        <false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Sunidhi</string>
		<key>fees</key>
		<string>Rs 700 ~ Consultation fees</string>
		<key>address</key>
		<string>Kormangala 5 block, Dental Clinic</string>
		<key>designation</key>
		<string>Dental Care</string>
		<key>yrs</key>
		<string>5</string>
		<key>image</key>
		<string>Sunidhi</string>
        <key>appmtBooked</key>
        <false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Lakshmi</string>
		<key>fees</key>
		<string>Rs 700 ~ Consultation fees</string>
		<key>address</key>
		<string>Kormangala 5 block, Dental Clinic</string>
		<key>designation</key>
		<string>Dental Care</string>
		<key>yrs</key>
		<string>5</string>
		<key>image</key>
		<string>Lakshmi</string>
        <key>appmtBooked</key>
        <false/>
	</dict>
	<dict>
		<key>name</key>
		<string>Sushma</string>
		<key>fees</key>
		<string>Rs 700 ~ Consultation fees</string>
		<key>address</key>
		<string>Kormangala 5 block, Dental Clinic</string>
		<key>designation</key>
		<string>Dental Care</string>
		<key>yrs</key>
		<string>5</string>
		<key>image</key>
		<string>Sushma</string>
        <key>appmtBooked</key>
        <false/>
	</dict>
</array>
</plist>
