<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key>
        <string>Mohini</string>
        <key>fees</key>
        <string>Rs 700 ~ Consultation fees</string>
        <key>address</key>
        <string>Jayanagar 5 block, Shreya Hair Clinic</string>
        <key>designation</key>
        <string>Dermatology</string>
        <key>yrs</key>
        <string>6</string>
        <key>image</key>
        <string>Mohini</string>
        <key>appmtBooked</key>
        <false/>
    </dict>
    <dict>
        <key>name</key>
        <string>Vandita</string>
        <key>fees</key>
        <string>Rs 600 ~ Consultation fees</string>
        <key>address</key>
        <string>Jayanagar 5 block, Dental Clinic</string>
        <key>designation</key>
        <string>Dermatology</string>
        <key>yrs</key>
        <string>7</string>
        <key>image</key>
        <string>Vandita</string>
        <key>appmtBooked</key>
        <false/>
    </dict>
    <dict>
        <key>name</key>
        <string>Bhavya</string>
        <key>fees</key>
        <string>Rs 600 ~ Consultation fees</string>
        <key>address</key>
        <string>JP Nagar 5 block, Shreya Hair Clinic</string>
        <key>designation</key>
        <string>Dermatology</string>
        <key>yrs</key>
        <string>5</string>
        <key>image</key>
        <string>Bhavya</string>
        <key>appmtBooked</key>
        <false/>
    </dict>
    <dict>
        <key>name</key>
        <string>Trupthi</string>
        <key>fees</key>
        <string>Rs 400 ~ Consultation fees</string>
        <key>address</key>
        <string>Jayanagar 5 block, Shreya Hair Clinic</string>
        <key>designation</key>
        <string>Dermatology</string>
        <key>yrs</key>
        <string>3</string>
        <key>image</key>
        <string>Trupthi</string>
        <key>appmtBooked</key>
        <false/>
    </dict>
    <dict>
        <key>name</key>
        <string>Disha</string>
        <key>fees</key>
        <string>Rs 500 ~ Consultation fees</string>
        <key>address</key>
        <string>Anepalya, Shreya Hair Clinic</string>
        <key>designation</key>
        <string>Dermatology</string>
        <key>yrs</key>
        <string>4</string>
        <key>image</key>
        <string>Disha</string>
        <key>appmtBooked</key>
        <false/>
    </dict>
    <dict>
        <key>name</key>
        <string>Kala</string>
        <key>fees</key>
        <string>Rs 500 ~ Consultation fees</string>
        <key>address</key>
        <string> Sampige Road, Malleswaram, Shreya Hair Clinic</string>
        <key>designation</key>
        <string>Dermatology</string>
        <key>yrs</key>
        <string>4</string>
        <key>image</key>
        <string>Kala</string>
        <key>appmtBooked</key>
        <false/>
    </dict>
    <dict>
        <key>name</key>
        <string>Nirmala</string>
        <key>fees</key>
        <string>Rs 500 ~ Consultation fees</string>
        <key>address</key>
        <string>Banashankari 5th stage, Shreya Hair Clinic</string>
        <key>designation</key>
        <string>Dermatology</string>
        <key>yrs</key>
        <string>4</string>
        <key>image</key>
        <string>Nirmala</string>
        <key>appmtBooked</key>
        <false/>
    </dict>
</array>
</plist>
